[type="text"],
[type="email"],
[type="number"] {
    border: 1px solid;
    min-height: 30px;
    font: inherit;
    transition: 300ms ease;
    padding: 0 10px;
    outline: medium none;

    &:focus {
        box-shadow: inset 0 0 5px rgba(black, 0.3);
    }
}

button,
[type="button"],
[type="submit"],
[type="reset"] {
    background-image: none;
    transition: 300ms ease;
    min-height: 35px;
    padding: 0 10px;
}

.perfil-form {
    --padding: 20px;

    margin: 0 auto;

    background-color: $color-base;
    padding-top: calc(var(--padding) * 2);
    padding-bottom: calc(var(--padding) * 2);
    border-left: 1px solid darken($color-base, 20);
    border-right: 1px solid darken($color-base, 20);

    padding-left: var(--padding);
    padding-right: var(--padding);

    max-width: 400px;

    &__photo {
        margin: 20px auto;
        padding: 10px;

        --diametro: 250px;

        width: var(--diametro);
        text-align: center;

        img {
            border-radius: 50%;
            width: calc(var(--diametro) / 2);
            height: calc(var(--diametro) / 2);

            object-fit: cover;
            object-position: center top;
        }

        p {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        &__enlace {
            text-decoration: none;
            transition: 300ms ease;
            color: darken($color-base, 70);
            font-weight: 600;

            &:hover {
                opacity: 0.7;
            }

            &:active {
                opacity: 1;
                transition: none;
            }
        }
    }

    &__title {
        font: {
            size: 1.5rem;
        }

        margin: 0;
    }
}

.form {
    --field-height: 40px;

    // padding-left: var(--padding);
    // padding-right: var(--padding);

    &__text {
        position: relative;
        display: block;
        margin-bottom: 20px;

        span,
        input {
            display: block;
        }

        input {
            width: 100%;
            height: var(--field-height);
            border: 1px solid darken(white, 40);
            margin-top: 3px;
        }
    }

    &__buttons {
        &__button {
            display: block;
            width: 100%;
            background-color: $color-secundario;
            color: white;
            border: 0;
            min-height: var(--field-height);
            border-radius: calc(var(--field-height));

            &:hover {
                background-color: lighten($color-secundario, 10);
            }

            &:active {
                background-color: $color-secundario;
                transition: none;
            }
        }
    }
}
